<h1>Create a new Pet</h1>

<form action="/pets" method="POST">
  <label>Pet Name: <input type="text" name="pet[name]" id="pet_name"></label>
  <br />
  <p>Select an existing owner or create a new one below.</p>
  
  
  <fieldset>
  <legend><h3>Existing Owners</h3></legend>
    <% Owner.all.each do |owner| %>
      <p><input type="radio" name="pet[owner_id]" id="<%= owner.id %>" value="<%= owner.id %>"><%= owner.name %></p>
      <br />
    <% end %>
  </fieldset>

  <fieldset>
    <legend><h3>New Owner</h3></legend>
    <p><label>Owner Name: <input type="text" name="owner[name]" id="owner_name"></label></p>
  </fieldset>
  <br/>
  <input type="submit" value="Create Pet">
</form>



